<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yourchat</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />

</head>

<body>
    <div id="container">
        <main class="justify-content-center">
            <header>
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_01.jpg" alt="">
                <div>
                    <h2>{{ userData.nickname }}</h2>
                </div>
            </header>
            <ul id="chat">
                <li class="me" *ngFor="let event of socketEvents">
                    <div class="entete">
                        <h2 style="padding-right: 8px;">{{ event.system ? 'System' : event.nickname }}</h2>
                        <h3>{{ moment(event.createdAt).format('DD/MM h:mm:ss a') }}</h3>
                        <span class="status blue"></span>
                    </div>
                    <div class="triangle"></div>
                    <div class="message">{{ event.message }}</div>
                </li>
            </ul>
            <footer>
                <form [formGroup]="userMessageData" (ngSubmit)="sendMessage()">
                    <textarea id="message" placeholder="Type your message" formControlName="message"></textarea>
                    <button type="submit" class="btn btn-primary btn-block mb-2">Send</button>
                </form>
            </footer>
        </main>
    </div>
</body>

</html>